*{
    margin: 0px;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

/*NAVBAR SECTION*/
.navbar{
    align-items: center;
    justify-content: space-between;
     width: 100%;
    height: 70px;
    z-index: 999;
    background-color: rgb(79, 226, 143);
}

.max-width{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 10px;
    color: rgb(66, 189, 18);
    font-size: 55px;
    text-decoration: none;
    font-weight: 800;
}

.ture{
    color: rgb(0, 0, 0);
    font-size: 53px;
}

/* SEARCH SECTION*/
.search{
    padding-top: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 5%;
}

.srch{
    font-family: 'Times New Roman';
    width: 800px;
    height: 48.5px;
    background: white;
    border: 4px solid rgb(19, 19, 19);
    margin-bottom: auto;
    color: black;
    font-size: 30px; 
    margin-left: auto;
    border-right: 3px;
}

.btn{
    width: 120px;
    height: 49px;
    background: rgb(31, 185, 77);
    border: 3px solid rgb(75, 75, 77);
    margin-top: auto;
    color: white;
    font-size: 25px;
    font-weight: 400;
    border-left: 3px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.cart{
    width: 100px;
    height: auto;
    text-align: center;
    margin-right: 10px;
    font-size: 50px;
}

i{
    color: white;
    font-size: 100px;
}

/*NAV2 SECTION*/
.nav2{
    background-color: green;
    height: 49px;
}

.menu{
    text-align: center;
    justify-content: space-between;
    margin-top: 5px;
}

ul li{
    font-size: 30px;
    font-weight: 300;
    list-style: none;
    display: inline-block;
    margin-left: 70px;
    align-items: center;
    padding-right: 100px; 
}

.nav2 .menu li a{
    display: block;
    color: white;
    font-size: 29px;
    font-weight: 700;
    margin-left: 25px;
    transition: color 0.3s ease;
    border: 1px solid;
    padding: 2px;
    border-radius: 10px;
}

.nav2 .menu li a:hover{
    color: rgb(5, 78, 33);
}

/*HOME SECTION*/
.home-content{
    display: flex;   
}

.home-content .right{
    font-size: 35px;
    margin-top: 300px;
    transition: all 0.3s ease;
    padding-left: 50px;
}

.home-content .right h2{
    color: green;
}

.home-content .right .par{
    padding-top: 60px;
}

.img2{
    margin-top: 10px;
    height: 750px;
    transition: all 0.3s ease;
}

/*  BUTTON*/
.home-content .right .but{
    padding-top: 35px;
}

.home-content .right .but .but1{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
    border: 5px solid green;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    background: none;
}

.home-content .right .but .but2{
    font-size: 30px;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border: 5px solid green;
    border-radius: 10px;
    margin-left: 40px;
    background: none;
}

.home-content .right .but .but1:hover{
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}

.home-content .right .but .but2:hover{
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}

/*images*/

.disp{
    margin-top: 60px;
    display: flex;
    gap: 1.0rem;
    margin-left: 10px;
    max-width: 100%;
    width: 90%;
    margin-right: 10px;
}
 
.disp .imga{ 
    height: 200px;
    width: 340px;
    border: 3px solid green;
}

.disp .imgb{ 
    border: 3px solid green;
    width: 350px;
    height: 200px;
}

.disp .imgc{ 
    border: 3px solid green;
    height: 200px;
    width: 400px;
}

.disp .imgd{ 
    border: 3px solid green;
    height: 200px;
}

.disp .imge{ 
    border: 3px solid green;
    height: 200px;
}

.disp .imgf{
    border: 3px solid green;
    height: 200px;
    width: 250px;
}

.disp .imgg{
    border: 3px solid green;
    height: 200px;
    width: 250px;
}

/*ABOUT SECTION*/
.about-content{
    background-color: green;
}

.about-content p{
    font-size: 50px;
    padding-left: 20px;
}

/*log in page*/
.body1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/food.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    position: relative;
    width: 500px;
    height: 540px;
    background: hsla(0, 87%, 36%, 0.144);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*transform: scale(0);*/
    transition: transform .5s ease,height .2s ease;
}

.prapper{
    position: relative;
    width: 500px;
    height: 540px;
    background: hsla(0, 87%, 36%, 0.144);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: green;
}

a:hover{
    color: white;
}

/*.wrapper.active-popup{
    transform: scale(1);
}*/

.wrapper.active {
    height: 620px;
}

.wrapper .form-box{
    width: 100%;
    padding: 80px;
}


.wrapper.active .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-500px);
}

.wrapper.active .form-box.register{
    transition: none;
    transform: translateX(500px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(500px);
}

.form-box h2 {
    font-size: 3em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remeber-forget{
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.remeber-forget label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remeber-forget a{
    color: #e4e6e7;
    font-size: 20px;
}

.remeber-forget a:hover{
    text-decoration: underline;
    color: green;
}

.btnn{
    width: 100%;
    height: 45px;
    background: rgb(46, 153, 46);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(224, 235, 226);
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #ffffff;
    font-weight: 500;
}

.login-register p a:hover{
    text-decoration: underline;
    color: green;
}

/*PRODUCT SECTION*/
.product{
    background-color: rgb(31, 185, 77);
}

.pro1{
    padding: 20px;
    text-align: center;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: white;
}

.product-content1{
    display: inline-flex;
    gap: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

.product-content2{
    display: inline-flex;
    gap: 1.5rem;
    margin-left: 10px;
    margin-top: 70px;
    margin-right: 10px;
}

.p1,.p2{
    height: 350px;
    width: 437px;
}

.p1{
 margin-bottom: 20px;
}

.product1,.product2,.product3,.product4,.product5
,.product6,.product7,.product8,.product9,.product10{
    max-width: 75%;
    border: 3px solid;
    background-color: white;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
}


.probtn{
    height: 50px;
    width: 90%;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    background-color: black;
    color: white;
}

.probtn:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

.pagination{
    text-align: center;
    padding-top: 20px;
    gap: 1.8rem;
}

.pagination a{
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    font-size: 20px;
    border: 2px solid;
}

.pagination a.active{
    background-color: rgb(0, 0, 0);
    font-weight: bolder;
    border-radius: 5px;
}

.pagination a:hover{
    background-color: #f9fafc;
    border-radius: 5px;
    color: black;
}

/*MEDIA QUARIES*/
@media (max-width: 1330px){
    .home .max-width{
        margin-left: 0PX;
    }
}

@media (max-width: 1104px){
}

@media (max-width: 991px){
    .max-width{
    padding: 0 50px;
    }
}

@media (max-width: 947px){}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
}

@media (max-width: 500px){
}