*{
    margin: 0px;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

/*NAVBAR SECTION*/
.navbar{
    align-items: center;
    justify-content: space-between;
     width: 100%;
    height: 70px;
    z-index: 999;
    background-color: rgb(79, 226, 143);
}

.max-width{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 10px;
    color: rgb(66, 189, 18);
    font-size: 55px;
    text-decoration: none;
    font-weight: 800;
}

.ture{
    color: rgb(0, 0, 0);
    font-size: 53px;
}

/* SEARCH SECTION*/
.search{
    padding-top: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 5%;
}

.srch{
    font-family: 'Times New Roman';
    width: 800px;
    height: 48.5px;
    background: white;
    border: 4px solid rgb(19, 19, 19);
    margin-bottom: auto;
    color: black;
    font-size: 30px; 
    margin-left: auto;
    border-right: 3px;
}

.btn{
    width: 120px;
    height: 49px;
    background: rgb(31, 185, 77);
    border: 3px solid rgb(75, 75, 77);
    margin-top: auto;
    color: white;
    font-size: 25px;
    font-weight: 400;
    border-left: 3px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.cart{
    width: 100px;
    height: auto;
    text-align: center;
    margin-right: 10px;
    font-size: 50px;
}

i{
    color: white;
    font-size: 100px;
}

/*NAV2 SECTION*/
.nav2{
    background-color: green;
    height: 49px; 
}

.menu{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    width: 100%;
}

ul li{
    font-size: 30px;
    font-weight: 300;
    list-style: none;
    align-items: center;
}

.nav2 .menu li a{
    margin-top: 5px;
    display: block;
    color: white;
    font-size: 23px;
    font-weight: 700;
    transition: color 0.3s ease;
    border: 1px solid;
    padding: 2px;
    border-radius: 10px;
}

.nav2 .menu li a:hover{
    color: rgb(5, 78, 33);
}

/*HOME SECTION*/
.home-content{
    display: grid;
    grid-template-columns: auto auto;
}

.home-content .right{
    font-size: 35px;
    margin-top: 300px;
    transition: all 0.3s ease;
    padding-left: 50px;
}

.home-content .right h2{
    color: green;
}

.home-content .right .par{
    padding-top: 40px;
}

.img2{
    margin-top: 10px;
    height: 750px;
    transition: all 0.3s ease;
}

/*  BUTTON*/
.home-content .right .but{
    padding-top: 35px;
}

.home-content .right .but .but1{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
    border: 5px solid green;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    background: none;
}

.home-content .right .but .but2{
    font-size: 30px;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border: 5px solid green;
    border-radius: 10px;
    margin-left: 40px;
    background: none;
}

.home-content .right .but .but1:hover{
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}

.home-content .right .but .but2:hover{
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}

/*images*/

.disp{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin-top: 60px;
    gap: 1.0rem;
    margin-left: 10px;
    max-width: 100%;
    width: 90%;
    margin-right: 10px;
}
 
.disp .imga{ 
    height: 200px;
    width: 340px;
    border: 3px solid green;
}

.disp .imgb{ 
    border: 3px solid green;
    width: 350px;
    height: 200px;
}

.disp .imgc{ 
    border: 3px solid green;
    height: 200px;
    width: 400px;
}

.disp .imgd{ 
    border: 3px solid green;
    height: 200px;
}

.disp .imge{ 
    border: 3px solid green;
    height: 200px;
}

.disp .imgf{
    border: 3px solid green;
    height: 200px;
    width: 250px;
}

.disp .imgg{
    border: 3px solid green;
    height: 200px;
    width: 250px;
}

/*ABOUT SECTION*/
.about-content{
    background-color: green;
}

.about-content p{
    font-size: 50px;
    padding-left: 20px;
}

/*log in page*/
.body1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/food.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    position: relative;
    width: 500px;
    height: 540px;
    background: hsla(0, 87%, 36%, 0.144);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*transform: scale(0);*/
    transition: transform .5s ease,height .2s ease;
}

.prapper{
    position: relative;
    width: 500px;
    height: 540px;
    background: hsla(0, 87%, 36%, 0.144);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: green;
}

a:hover{
    color: white;
}

/*.wrapper.active-popup{
    transform: scale(1);
}*/

.wrapper.active {
    height: 620px;
}

.wrapper .form-box{
    width: 100%;
    padding: 80px;
}


.wrapper.active .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-500px);
}

.wrapper.active .form-box.register{
    transition: none;
    transform: translateX(500px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(500px);
}

.form-box h2 {
    font-size: 3em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remeber-forget{
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.remeber-forget label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remeber-forget a{
    color: #e4e6e7;
    font-size: 20px;
}

.remeber-forget a:hover{
    text-decoration: underline;
    color: green;
}

.btnn{
    width: 100%;
    height: 45px;
    background: rgb(46, 153, 46);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(224, 235, 226);
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #ffffff;
    font-weight: 500;
}

.login-register p a:hover{
    text-decoration: underline;
    color: green;
}

/*PRODUCT SECTION*/
.product{
    background-color: rgb(31, 185, 77);
}

.pro1{
    padding: 20px;
    text-align: center;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: white;
}

.product-content1{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1.5rem;
    margin: 0 10px;
}

.product-content2{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1.5rem;
    margin-top: 100px;
    margin: 0 10px;
}

.p1{
    height: 350px;
}

.p2{
    height: 350px;
}

.p1{
 margin-bottom: 20px;
}

.product-display{
    border: 3px solid;
    background-color: white;
    text-align: center;
    padding: 4px;
    margin-top: 30px;
    border-radius: 10px;
}

.product-display img{
    width: 100%;
    background-size: cover;
    background-position: center;
}


.probtn{
    height: 50px;
    width: 90%;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    background-color: black;
    color: white;
}

.probtn:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

.pagination{
    text-align: center;
    padding-top: 20px;
    gap: 1.8rem;
}

.pagination a{
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    font-size: 20px;
    border: 2px solid;
}

.pagination a.active{
    background-color: rgb(0, 0, 0);
    font-weight: bolder;
    border-radius: 5px;
}

.pagination a:hover{
    background-color: #f9fafc;
    border-radius: 5px;
    color: black;
}

.footer{
    background-color: white;
    margin-top: 10px;
}
.fot{
    color: white;
    text-align: center;
    background-color: white;
}

#one.active{
    background-color: white;
    color: black;
}



/*MEDIA QUARIES*/
@media (max-width: 1330px){
    .max-width{
        width: 100%;
    }

    .nav2 .max-width .menu a{
        font-size: 70%;
        margin-top: 5px;
    }

    .navbar .max-width{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .navbar .logo{
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 54px;
    font-weight: 800;
    }

    .ture{
    color: rgb(0, 0, 0);
    font-size: 53px;
    }

    .navbar .search .srch{
    margin-left: 50px;
    width: 472px;
    height: 48.5px;
    border: 4px solid rgb(19, 19, 19);
    margin-bottom: 25px;
    font-size: 25px; 
    border-right: 3px;
    }

    .navbar .search .btn{
    width: 120px;
    height: 45px;
    border: 3px solid rgb(75, 75, 77);
    margin-top: auto;
    font-size: 25px;
    font-weight: 400;
    border-left: 3px;
    }

    .navbar .cart{
        margin-bottom: 10px;
    }

    .home .home-content .right h2{
        font-size: 30px;
        padding: none;
    }

    .home .home-content .right .par {
        font-size: 27px;
        padding-top: 25px;
    }

    .home .home-content .right{
        margin-top: 100px;
    } 

    .home .home-content .left .img2{
    margin-top: 100px;
    height: 400px;
    transition: all 0.3s ease;
    }

    .home-content .right .but{
        padding-top: 30px;
    }

    .home-content .right .but .but1{
        height: 50px;
        width: 140px;
        font-weight: 500;
        font-size: 27px;
    }

    .home-content .right .but .but2{
        height: 50px;
        width: 120px;
        font-weight: 500;
        font-size: 27px;
    }

    .disp{
    margin-top: 20px;
    display: flex;
    gap: 0.4rem;
    margin-left: 15px;
    margin-right: 10px;
    }

    .disp .imgb{
    width: 230px;
    height: 200px;
    }

    .disp .imgc{
    width: 150px;
    height: 200px;
    }

    .disp .imgd{
    width: 150px;
    height: 200px;
    }

    .disp .imge{
    width: 150px;
    height: 200px;
    }

    .disp .imgf{
    width: 150px;
    height: 200px;
    }

    .disp .imgg{
    width: 150px;
    height: 200px;
    }

    .disp .imga{
    width: 213px;
    height: 200px;
    }
    /*MEDIA PRODUCT*/
.pro1{
    padding: 20px;
    font-weight: 600;
    font-size: 40px;
}

.product-content1{
    gap: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

.product-content2{
    display: inline-flex;
    gap: 0.5rem;
    margin-left: 10px;
    margin-top: 70px;
    margin-right: 10px;
}

.p1,.p2{
    height: 250px;
    width: 137px;
}

.product1,.product2,.product3,.product4,.product5
,.product6,.product7,.product8,.product9,.product10{
    max-width: 75%;
    padding: 4px;
    border-radius: 10px;
    width: 241px;
}

.product10{
    overflow: hidden;
}
}

@media (max-width: 1104px){
    .navbar .max-width{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .max-width{
        width: 100%;
    }


    .navbar .logo{
        margin-left: 10px;
        font-size: 44px;
        font-weight: 800;
    }
    .ture{
    color: rgb(0, 0, 0);
    font-size: 43px;
}

.navbar .search .srch{
    width: 400px;
    height: 47.5px;
    border: 4px solid rgb(19, 19, 19);
    margin-bottom: 20px;
    font-size: 30px; 
    margin-left: 21.5px;
    border-right: 3px;
}

.navbar .search .btn{
    width: 100px;
    height: 39px;
    border: 3px solid rgb(75, 75, 77);
    margin-top: auto;
    font-size: 25px;
    font-weight: 400;
    border-left: 3px;
}

.nav2{
    height: 49px;
}

.menu{
    margin-top: 5px;
}

ul li{
    font-size: 31px;
    font-weight: 300;
    margin-left: 32px;
    padding-right: 100px; 
}

.nav2 .menu li a{
    font-size: 29px;
    font-weight: 700;
    margin-left: 23px;
    border: 1px solid;
    padding: 2.5px;
    border-radius: 10px;
}

.home-content{
    display: flex;   
}


.home .home-content .right h2{
        font-size: 25px;
        padding: none;
    }

    .home .home-content .right .par {
        font-size: 23px;
        padding-top: 35px;
    }

    .home .home-content .right{
        margin-top: 50px;
    } 

    .home .home-content .left .img2{
    margin-top: 50px;
    height: 250px;
    transition: all 0.3s ease;
    }

    .home-content .right .but{
        padding-top: 50px;
    }

    .home-content .right .but .but1{
        height: 45px;
        width: 140px;
        font-weight: 500;
        font-size: 26px;
    }

    .home-content .right .but .but2{
        height: 45px;
        width: 120px;
        font-weight: 500;
        font-size: 26px;
    }

    .disp{
    margin-top: 30px;
    display: flex;
    gap: 0.7rem;
    margin-left: 10px;
    margin-right: 10px;
    }

    .disp .imgb{
    width: 170px;
    height: 200px;
    }

    .disp .imgc{
    width: 120px;
    height: 200px;
    }

    .disp .imgd{
    width: 120px;
    height: 200px;
    }

    .disp .imge{
    width: 120px;
    height: 200px;
    }

    .disp .imgf{
    width: 120px;
    height: 200px;
    }

    .disp .imgg{
    width: 120px;
    height: 200px;
    }

    .disp .imga{
    width: 170px;
    height: 200px;
    }
    /*MEDIA PRODUCT*/
.pro1{
    padding: 25px;
    font-weight: 600;
    font-size: 40px;
}

.product-content1{
    gap: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

.product-content2{
    display: inline-flex;
    gap: 0.5rem;
    margin-left: 10px;
    margin-top: 70px;
    margin-right: 10px;
}

.p1,.p2{
    height: 250px;
    width: 137px;
}

.product1,.product2,.product3,.product4,.product5
,.product6,.product7,.product8,.product9,.product10{
    max-width: 75%;
    padding: 4px;
    border-radius: 10px;
    width: 195px;
}

.product10{
    overflow: hidden;
}
}

@media (max-width: 991px){
    

    .navbar .max-width{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .max-width{
        width: 70%;
    }

    .navbar .logo{
        margin-left: 10px;
        font-size: 34px;
        font-weight: 800;
    }
    .ture{
    color: rgb(0, 0, 0);
    font-size: 33px;
}

    .navbar .search .srch{
        width: 500px;
        height: 34.5px;
        border: 4px solid rgb(19, 19, 19);
        margin-bottom: auto;
        font-size: 30px; 
        margin-left: auto;
        border-right: 3px;
    }

    .navbar .search .btn{
        width: 80px;
        height: 29px;
        border: 3px solid rgb(75, 75, 77);
        margin-top: auto;
        font-size: 25px;
        font-weight: 400;
        border-left: 3px;
    }

    .home-content{
        display: grid;
    grid-template-columns: auto;    
}
}

@media (max-width: 947px){
    .navbar .max-width{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .max-width{
        width: 50%;
    }


    .navbar .logo{
        margin-left: 10px;
        font-size: 24px;
        font-weight: 800;
    }
    .ture{
    color: rgb(0, 0, 0);
    font-size: 23px;
}

.navbar .search .srch{
        width: 400px;
        height: 24.5px;
        border: 4px solid rgb(19, 19, 19);
        margin-bottom: auto;
        font-size: 30px; 
        margin-left: auto;
        border-right: 3px;
    }

    .navbar .search .btn{
        width: 60px;
        height: 19px;
        border: 3px solid rgb(75, 75, 77);
        margin-top: auto;
        font-size: 25px;
        font-weight: 400;
        border-left: 3px;
    }

     .home-content{
    grid-template-columns: auto;
}
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
        width: 40%;
    }
    .navbar .max-width{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .navbar .logo{
        margin-left: 10px;
        font-size: 24px;
        font-weight: 800;
    }
    .ture{
    color: rgb(0, 0, 0);
    font-size: 23px;
}

.navbar .search .srch{
        width: 200px;
        height: 14.5px;
        border: 4px solid rgb(19, 19, 19);
        margin-bottom: auto;
        font-size: 30px; 
        margin-left: auto;
        border-right: 3px;
    }

    .navbar .search .btn{
        width: 40px;
        height: 10px;
        border: 3px solid rgb(75, 75, 77);
        margin-top: auto;
        font-size: 20px;
        font-weight: 400;
        border-left: 3px;
    }
}

@media (max-width: 500px){
    .max-width{
        width: 100%;
    }

    .nav2 .max-width .menu{
        font-size: 20px;
        margin-top: 9px;
        display: inline-flex;
        width: 100%;

    }

    ul li{
    font-size: 21px;
    font-weight: 300;
    list-style: none;
    display: flex;
    width: 100%;
    margin-left: 0px;
    align-items: normal;
    padding-right: 00px;
}

.nav2 .menu li a{
    margin-left: 14px;
}

.nav2 .menu a{
    color: white;
    font-weight: 700;
    border: 1px solid;
    padding: 2px;
    font-size: 36px;
    text-align: normal;
    border-radius: 10px;
}


    .navbar .max-width{
    width: 100%;
    }

    .navbar .logo{
    text-align: center;
     margin-left: 30px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 800;
    }

    .ture{
    font-size: 40px;
    }

    .navbar .search .srch{
    display: none; 
    }

    .navbar .search .btn{
    display: none;
    }

    .navbar .cart{
        display: none;
    }

    .home .home-content .right h2{
        font-size: 25x;
        width: 100%;
        padding: none;
        margin-top: 50px;
    }

    .home-content .right{
    padding-left: 00px;
}

    .home-content{
    display: inline-block;   
    margin: none;
    padding: none;
    }

    .home .home-content .right .par {
        font-size: 21px;
        padding-top: 10px;
    }


    .home .home-content .right{
        margin-top: 10px;
        padding: none;
        margin: none;
    } 

    .home .home-content .left .img2{
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
    height: 290px;
    width: 340px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
    }

    .home-content .right .but{
        padding-top: 30px;
    }

    .home-content .right .but .but1{
        height: 47px;
        width: 140px;
        font-weight: 500;
        font-size: 25px;
    }

    .home-content .right .but .but2{
        height: 47px;
        width: 120px;
        font-weight: 500;
        font-size: 25px;
    }

    .disp{
    display: none;
    margin-top: 20px;
    display: flex;
    gap: 0.4rem;
    margin-left: 15px;
    margin-right: 10px;
    }

    .disp .imgb{
    width: 230px;
    height: 200px;
    display: none;
    }

    .disp .imgc{
    width: 150px;
    height: 200px;
        display: none;
}

    .disp .imgd{
    width: 150px;
    height: 200px;
    display: none;
    }

    .disp .imge{
    width: 150px;
    height: 200px;
    display: none;
    }

    .disp .imgf{
    width: 150px;
    height: 200px;
    display: none;
    }

    .disp .imgg{
    width: 150px;
    height: 200px;
    display: none;
    }

    .disp .imga{
    width: 213px;
    display: none;
    height: 200px;
    }
    /*MEDIA PRODUCT*/
.pro1{
    padding: 20px;
    font-weight: 600;
    font-size: 40px;
}

.product-content1{
    display: inline-block;
    gap: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

.product-content2{
    display: none;
    gap: 1.5rem;
    margin-left: 10px;
    margin-top: 70px;
    margin-right: 10px;
}

.p1,.p2{
    height: 250px;
    width: 330px;
}

.product1,.product2,.product3,.product4,.product5
{
    max-width: 190%;
    margin-bottom: 22px;
    padding: 9px;
    height: 470px;
    width: 350px;
    border-radius: 10px;
}

.product6,.product7,.product8,.product9,.product10{
    display: none;
}
}

